<link rel="stylesheet" href="/css/home.css">
<h1>Todos os meus livros favoritos: </h1>
{{#each books}}
<div class="book">
  <p>Título: {{title}}</p>
  <p>Autor: {{author}}</p>
  <a class="button" href="/book/update/{{id}}">
    <button>
      <p>Atualizar</p>
    </button>
  </a>
  <a class="button" href="/book/delete/{{id}}">
    <button>
      <p>Deletar</p>
    </button>
  </a>
</div>
{{/each}}